// colors
$color-blue: #1d92ff;
$color-green: #0ead00;
$color-offWhite: #fffbf0;
$color-shadow: #bdc5d5;

// font
$regular: 400;
$semi: 600;
$bold: 700;

// spacing
$top-margin: 1.5rem;
$main-margin: 3rem 9rem;

// button
$border-rad: 1.25rem;
$button-padding: .75rem;

// fields
$field-height: 1.25rem;
$border-border: 1px solid black;