@use "../../assets/styles/variables" as *;


.Home {
    margin: $main-margin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__welcome {
        font-family: "Inter-Bold", sans-serif;
        text-transform: capitalize;
    }

    &__button {
        border: none;
        background-color: $color-green;
        color: white;
        padding: $button-padding;
        border-radius: $border-rad;
        text-transform: capitalize;
        margin-top: $top-margin;
    }
}